#simple-search-main {
    display: flex;
    flex-direction: column;
}

#search-bar-div {
    display: flex;
    justify-content: center;
}

#simple-search-input {
    margin-right: 16px;
}

.error {
    color: darkred;
    margin: 8px;
}